@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-light">
    <h1 class="display-4">USMP</h1><hr style="border-top: 1px solid white">
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
